/*
====================================================================================================================================================================
                                                    Start Slideshow Properties
====================================================================================================================================================================
*/

section #content {
  color: white;
  position: absolute;
  top: 400px;
  left: 600px;
}

img #slide {
  width: 100%;
  height: auto;
}

body {
  background-color: red;
}

/*
====================================================================================================================================================================
                                                    End Slideshow Properties
====================================================================================================================================================================
*/

/*
====================================================================================================================================================================
                                                    Start Featured Courses Properties
====================================================================================================================================================================
*/

/*
====================================================================================================================================================================
                                                    End Featured Courses Properties
====================================================================================================================================================================
*/

/*
====================================================================================================================================================================
                                                    Start About Section Properties
====================================================================================================================================================================
*/

/*
====================================================================================================================================================================
                                                    End Learn Tech Section Properties
====================================================================================================================================================================
*/

/*
====================================================================================================================================================================
                                                    Start Footer
====================================================================================================================================================================
*/

/*
====================================================================================================================================================================
                                                    End Footer
====================================================================================================================================================================
*/
